
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: opx;
}

/* banner section style start */
body {
    margin: 0;
    font-family:"Azeret Mono", monospace;
    text-align: center;
}

.banner-container {
    width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border: 2px solid red;
}

.banner-content {
    margin: 20px auto;
    width: 998px;
    height: 579px;
}

.banner-content img {
    width: 240px;
    height: 200px;
    margin-top:24px;
}

.title {
    font-size:48px;
    margin:32px 0;
}

.description {
    font-size:16px;
    margin-top:24px 0;
}

.button {
    display: inline-block;
    padding: 21px;;
    font-size:20px;
    color: #ffffff;
    background-color:#0d1323;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 0 auto;
}
/* banner section style end */

/* main section style start  */

.container {
    width: 1440px;
    height: 1240px;
    border: 2px solid red;
    gap:24px;
}
.container h4 h5 img{
   align-items: center;
   justify-content: space-around;
   width: 940px;
   height:320px;
}

.title{
    font-size: 32px;
}
.btn{
 justify-content: left;
  margin-top: 20px;
} 
.skil h5{
    margin-top: 20px;
    display: flex;
    margin-left:20%;font-size: 24px;
    font-size: 24px;
}
.discripton{
 margin-top: 10px;
 margin-left: 20px;
 text-align:left;
 font-size: 16px;

}
.discripton .skil{
text-align: left;
}
img{
    display: flex;
    text-align: right;
}

/* video section style :start */
.vedio-continner{
    width:1140px;
    height:775px;
    border:2px solid red ;
}


/* video section style :start */




